<% content_for :features, "index" %>

<nav class="navbar navbar-default navbar-transparent navbar-fixed-top" role="navigation">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
              </button>
              <a id="timLink" href="http://www.creative-tim.com">
                   <div class="logo-container">
                        <div class="icon-logo">
                            <%= image_tag("soundtracks-cinema-logo-small.png", width: '100') %> 
                        </div>
                    </div>
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" data-nav-image="assets/img/bg4.jpg">
              <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                          <a href="#" class="dropdown-toggle btn btn-simple btn-neutral" data-toggle="dropdown">
                            Live Examples
                            <b class="caret"></b>
                          </a>
                           <ul class="dropdown-menu dropdown-with-icons">
                             <li>
                                <a href="/components">
                                    <i class="pe-7s-display2"></i> All Components
                                </a>
                            </li>
                            <li>
                                <a href="/home">
                                    <i class="pe-7s-home"></i> Home
                                </a>
                            </li>
                            <li>
                                <a href="/blog-page">
                                    <i class="pe-7s-comment"></i> Blog
                                </a>
                            </li>
                            <li>
                                <a href="/blog-post">
                                    <i class="pe-7s-news-paper"></i> Blog Post
                                </a>
                            </li>
                            <li>
                            </li><li>
                                <a href="/ecommerce">
                                    <i class="pe-7s-ticket"></i> Ecommerce
                                </a>
                            </li>
                            <li>
                                <a href="/product-page">
                                    <i class="pe-7s-piggy"></i> Product Page
                                </a>
                            </li>
                            <li>
                                <a href="/contact-us">
                                    <i class="pe-7s-mail-open-file"></i> Contact Us
                                </a>
                            </li>
                            <li>
                                <a href="/about-us">
                                    <i class="pe-7s-info"></i> About Us
                                </a>
                            </li>
                            <li>
                                <a href="/pricing">
                                    <i class="pe-7s-cash"></i> Pricing Page
                                </a>
                            </li>
                            <li>
                                <a href="/sidebar">
                                    <i class="pe-7s-menu"></i> Sidebar Menu
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="pe-7s-gift"></i> More (soon)
                                </a>
                            </li>
                          </ul>
                    </li>
                    <li>
                        <a id="freeKitLink" target="_blank" href="http://www.creative-tim.com/get-shit-done" class="btn btn-simple btn-neutral">
                             Get Free Demo
                        </a>
                    </li>
                    <li>
                        <button onclick="window.location.href='http://www.creative-tim.com/buy/get-shit-done-pro'" id="buyButton" class="btn btn-round btn-warning btn-fill">Buy Now</button>
                    </li>
               </ul>

            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>


<div class='blurred-container'>
     <!--
     <a href="http://creative-tim.com">
         <div class="logo-container">
            <div class="logo">
                <%= image_tag("soundtracks-cinema-logo.png") %>
            </div>
            <div class="brand">
                Creative Tim
            </div>
        </div>
    </a>
  -->
    <div class="motto">
      <div class="logo-container">
            <div class="main-logo">
        <%= image_tag("soundtracks-cinema-logo.png") %>
      </div>
      <!-- <h3 class="motivation main-logo">Jobs for Composers</h3> -->
    </div>
        <!--<div>Get</div>
        <div class="border no-right-border">Sh</div><div class="border">it</div>
        <div>Done</div>
      -->
    </div>
  <div class="img-src" style="background-image: url('<%= asset_path("recording-studio.jpg") %>')"></div>
  <div class='img-src blur' style="background-image: url('<%= asset_path("recording-studio-blur.jpg") %>')"></div>
</div>





<div class="main">
    
<div class="container tim-container">
        <div class="tim-title">
            <h2 class="text-center">Jobs for Composers</h2>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <div class="form-group">
                <input type="text" value="" placeholder="Search for Job" class="form-control" />
              </div>
                <div class="switches">
                  <h3>Exclude Agency</h3>
                  <input type="checkbox" data-toggle="switch" class="ct-info"/>
                  <!-- <h3>Offering</h3>
                  <input type="checkbox" data-toggle="switch" />
                -->
                </div>
              </div>
            <div class="col-sm-4"></div>
        </div>


        <div class="placeholder">
            <img class="text-center" src="http://placekitten.com/400/800">
        </div>




</div>












<!-- end main -->


<div class="footer">
    <div class="overlayer">
    <div class="container">

            <div class="container">

                <div class="row">
                    <div class="col-sm-7">
                        <br>
                        <h3 class="txt-white">List a job on Soundtracks.io  </h3>
                        <p class="txt-gray">Interested in listing a job on Soundtracks.io? 
                          Would you like to promote your portfolio?
                          Send an email to jobs@soundtracks.io or tweet us <a href="https://twitter.com/soundtracks_io">@soundtracks_io</a></p>
<br><br>
                        <a class="btn btn-info  btn-round btn-wd btn-fill social-share social-twitter" href="#"><div class="count" href="#"><i class="fa fa-twitter fa-fw"></i> Tweet </div><div class="share"><span></span></div></a>

                        <a class="btn btn-danger  btn-round btn-wd btn-fill social-share social-twitter" href="#"><div class="count" href="#"><i class="fa fa-google-plus fa-fw"></i> Share </div><div class="share"><span></span></div></a>

                       <a class="btn btn-primary btn-round btn-wd btn-fill social-share" href="#"><div class="count" href="#"><i class="fa fa-facebook fa-fw"></i> Share </div><div class="share"><span></span></div></a>

                    <div class="credits">
                        &copy; 2016 <a href="http://soundtracks.io">Soundtracks.io</a>, made with <i class="fa fa-heart heart" alt="love"></i> by <a href="http://digitalhub.io">digitalhub.io</a>.
                        <br>
                        Made by Musicians for Musicians
                    </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4">
                        <div class="card text-center">
                            <div id="successMessage" class="alert alert-success" style="display:none">
                                We've got you!
                            </div>
                            <h3>Building an online presence
                      <br>for your Composing Business?<br>
                                <small>Free Guide</small>
                            </h3>

                            <h5>Advice on<b class="text-muted"> setting up a website</b></h5>
                            <h5>Tutorials on <b class="text-muted"> Social Media</b></h5>
                            
                      
                             <form class="subscribe-form" method="post" accept-charset="UTF-8">
                                <div style="margin:0;padding:0;display:inline">
                                <input type="hidden" value="✓" name="utf8">
                                </div>
                                <input id="subscribe_email" class="form-control" type="email" placeholder="Your email..." name="subscribe_email">
                                <br>
                                <input class="btn btn-info btn-wd btn-fill" type="button" onclick="sendEmailToMailChimp()" value="Subscribe" name="commit">

                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
</div>
